html, body {
  background-color: #f5f5f5;
  font-family: helvetica, sans-serif;
  overflow: auto;
}

body {
  bottom: 0;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* Frame */
.frame {
  background-color: black;
  position: fixed;
  z-index: 990;
}

#frame-top {
  height: 15px;
  left: 0;
  top: 0;
  width: 100%;
}

#frame-right {
  bottom: 0;
  right: 0;
  top: 0;
  width: 15px;
}

#frame-bottom {
  bottom: 0;
  left: 0;
  height: 15px;
  width: 100%;
}

#frame-left {
  bottom: 0;
  left: 0;
  top: 0;
  width: 15px;
}

/* Basic Scroll and Layout */
#index {
  overflow: hidden;
}

#content {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation Bar */
#nav li {
  float: left;
  font-family: 'BlackJack', helvetica, sans-serif;
  font-size: 25px;
  list-style: none;
  margin-right: 1em;
  padding-left: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100px;
}

li a {
  color:black;
  float: left;
  position: fixed;
  text-decoration: none;
}

li a:hover {
	color: pink;
}

/* Images */
.title-image {
  bottom: 0;
  display: inline;
  max-height: 500px;
  max-width: 500px;
  object-fit: cover;
  position: absolute;
  right: 0;
}

.rect-image {
  border-radius: 50%;
  float: left;
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.about-image {
  display: block;
  height: 100%;
  margin-left: -23%;
  width: auto;
}

.social-icon {
  display: inline-block;
  height: 200px;
  left: 50%;
  margin-top: 200px;
  -ms-transform: translateX(-50%);
  position: absolute;
  transform: translateX(-50%);
}
.icon-linkedin-sign, .icon-github-sign, .icon-envelope {
  color: pink;
  font-size: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

/* Titles */
h1 {
  color:black;
  font-family: 'BlackJack', helvetica, sans-serif;
  font-size: 60px;
  letter-spacing: 3px;
  padding-top: 20%;
  text-align: center;
  text-transform: capitalize;   
}

h2 {
  color:black;
  font-family: 'BlackJack', helvetica, sans-serif;
  font-size:80px;
  letter-spacing: 3px;
  padding-top: 20%;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  color:pink;
  font-family: 'BlackJack', helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  text-align: left;
  text-transform: uppercase;
}

.centered {
  text-align: center;
}

h4 {
  font-family: 'Teko', helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: 2px;
  margin-left: 210px;
}

/* About Text Box */
#about-container {
  display: inline-block;
  left: 50%;
  margin-top: 500px;
  margin-right: -50%;
  overflow: auto;
  padding-top: 200px;
  padding-bottom: 50px;
  padding-right: 200px;
  padding-left: 200px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;  
}

.about-header {
  padding-top: 20%;
}

.info-text {
  color:pink;
  font-family: 'BlackJack', helvetica, sans-serif;
  font-size: 17px;
  letter-spacing:2px;
}

.info-answer {
  color:black;
  font-family: 'Teko', helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: 2px;
  padding-right: 25px;
}

/* Buttons */
.download {
  background-color: pink;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'BlackJack', helvetica, sans-serif;
  font-size: 23px;
  margin-bottom: 15px;
  margin-left: 4px;
  margin-top: 2px;
  opacity: 0.6;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  transition: 0.3s;
}

.download:hover {
  opacity: 1
}

/* Timeline */
.timeline-container {
  display: inline-block;
  height: auto;
  left: 50%;
  margin-top: 500px;
  margin-right: -50%;
  overflow: auto;
  padding-top: 300px;
  padding-bottom: 50px;
  padding-right: 200px;
  padding-left: 200px;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

#nonfirst-timeline {
  margin-top: 0;
}

.vertical {
  border-left: 6px solid pink; 
  height: 600px; 
  left: 20%;
  position: absolute; 
}

#timeline-item {
  font-family: 'Teko', helvetica, sans-serif;
  height: auto;  
  letter-spacing: 1px;
  margin-bottom: 100px;
  position: relative; 
  text-align: left;
  width: 800px;
}

hr.solid {
  border-top: 4px solid pink;
  float: left;
  width: 90px;
}

.timeline-date {
  color: black;
  font-size: 19px;
  margin-bottom: 0;
  padding-left: 15%;
}

.timeline-header {
  color: pink;
  font-size: 22px;
  font-weight: bold;
  font-family: 'BlackJack', helvetica, sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10%;
  text-transform: uppercase;
}

.timeline-content {
  color: black;
  font-size: 15px;
  font-weight: normal;
  margin-top: 5px;
  padding-left: 10%;
  text-transform: none;
  width: 450px;
}

/* Form */
.form-container {
  font-family: 'Teko', helvetica, sans-serif;
  margin-top: 500px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

#hidden {
  color:pink;
  font-family: 'BlackJack', helvetica, sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

#history-container {
  font-size: 20px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.history {
  display: inline-table;
  list-style-type: square;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.delete-button {
  background-color: pink;
  color: white;
  font-family: 'BlackJack', helvetica, sans-serif;
  margin-left: 10px;
}

.sentiment-button {
  padding: 5px 0;
  color: white;
  font-family: 'BlackJack', helvetica, sans-serif;
  margin-left: 10px;
}

.comment{
  float: none;
  font-family: 'Teko', helvetica, sans-serif;
  margin-top: 17px;
  padding-top: 0;
  text-align: center;
  width: 100%
}

.selector {
  float: none;
  font-family: 'Teko', helvetica, sans-serif;
  margin-bottom: 10px;
  margin-top: 25px;
  padding-top: 0;
  text-align: center;
  width: 40%
}

input[type=text], input[type=number], .textarea {
  border: 1px solid #ccc;
  margin: 8px 8px;
  padding: 12px 20px;
  width: 70%;
}

input[type=text]:focus, input[type=number].focus, textarea:focus {
  border: 3px solid pink;
}

textarea {
  background-color: white;
  line-height: 20px;
  margin: 8px 8px;
  min-height: 100px;
  overflow: hidden;
  padding: 12px 20px;
  resize: vertical;
  text-align: left;
  width: 70%;
}

label { 
  color:pink;
  font-family: 'BlackJack', helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: left; 
}

/* Login/Logout */
#login-link {
  color: black;
  font-family: 'BlackJack', helvetica, sans-serif;
  font-size: 25px;
  margin-left: 80px;
  margin-top: 50px;
  position: absolute;
  text-align: center;
}


#login-link:hover {
	color: white;
}

#login-container {
  background-color: pink;
  height: 100px;
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
}

#reminder-container, #h2-container, #form-container {
  display: none;
}

/* Fonts */
@font-face {
  font-family: 'BlackJack';
  font-style: normal;
  font-weight: normal;
  src: url('norwester.otf');

}

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: normal;
  src: url('rajdhani-medium.ttf');
}